wikihop.org, www.wikihop.org {
    tls /etc/caddy/cf-origin.pem /etc/caddy/cf-origin.key

    header /assets/* {
        Cache-Control "public, max-age=31536000, immutable"
    }

    header / {
        Cache-Control "no-cache"
    }

    reverse_proxy localhost:8080
}
